
.container{
    display: flex;
    flex-direction: column;
}

.sectionTop{
    display:flex;
    flex-flow: row;
    
}

.sectionBottom{
    display: flex;
    flex-direction: row;
    
}

.itemTop{
    
}

.itemTopB{
    
}

.itemBottom{
    
}


@media screen and (max-width: 700px){
    .sectionTop{
        flex-direction: column;
    }

    .image {    
        width: 6vh;
    }

}