@colorAzul: hsl(193, 100%, 96%);
@colorRosa: hsl(322, 100%, 66%);
@colorCyanDark: hsl(192, 100%, 9%);
@colorCyanPale: hsl(193, 100%, 96%);

.image{
    width: 35vw;    
}

.titleImage{
    width: 60%;    
}

.container{
    display: flex;
    flex-direction: column;
}

body{
    margin: 0;
}
.sectionTop{
    display:flex;
    flex-flow: row;
    background-image: url("../../images/bg-hero-mobile.svg");
    background-color: @colorAzul;
    padding: 0vh 2vw 10vh 2vw;
}

.itemTop{
    background-color: @colorAzul;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5vh 2vw 4vh 2vw;
}

.itemTopB{
    display: flex;
    flex-direction: row;
    margin: 2vh 10vw 0vh 3vw;
}
.sectionBottom{
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw 2vh 2vw;    
}

.cardBottom{
    display: flex;
    flex-direction: row-reverse;
    margin: 4vw 8vh 3vw 8vh;    
    padding: 2vh 2vw 2vh 2vw;
    box-shadow: 0 0 7px 7px hsl(193, 21%, 92%);
    border-radius: 15px;
}

.itemCard{
    margin: 2vh 10vw 0vh 3vw;
    padding: 6vh 1vw 1vh 1vw;
}

.cardBottomD{
    display: flex;
    flex-direction: row;
    margin: 4vw 8vh 3vw 8vh;    
    padding: 2vh 2vw 2vh 2vw;
    box-shadow: 0 0 7px 7px hsl(193, 21%, 92%);
    border-radius: 15px;
}

.itemCardD{
    margin: 2vh 3vw 0vh 10vw;
    padding: 6vh 1vw 1vh 1vw;
}

.tryButton{
    background-color: white;
    margin: 4vw 3vh 3vw 3vh;    
    padding: 0vh 4vw 0vh 4vw;
    box-shadow: 0 1px 1px 3px hsl(193, 21%, 92%);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.pinkButton{
    background: @colorRosa;
    border-radius: 20px;
    color: hsl(300, 24%, 96%);
    padding: 10px;
    margin: 4vw 3vh 3vw 3vh;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: left;
}
.titleTop{
    font-size: 44px;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 20px;
    color: @colorCyanDark;
}

.smallBottom{
    background-color: white;
    position: relative;
    margin: 0vw 5vh 0vw 5vh;    
    padding: 2vh 2vw 2vh 2vw;
    box-shadow: 0 0 7px 7px hsl(193, 21%, 92%);
    border-radius: 8px;
    transform: translateY(35%)
}

footer{
    background-color:  hsl(192, 100%, 9%);
    color: white;
    padding-top: 100px;
}

.main-footer{ 
    display: flex;
    flex-direction: row;
}

.row-footerT{
    display: flex;
    flex-direction: column;
    padding: 0vh 0vw 0vh 4vw;
}
.row-footerTJ{
    display:flex;
    flex-direction: row;

    align-items: baseline;
}

.row-footerB{
    display: flex;
    flex-direction: row;    
}

.text-footer{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;    
    color: white;
    padding: 1vh 10vw 0vh 0vw;
}
.text-footerT{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;    
    color: white;
    padding: 0vh 16vw 0vh 0vw;
}

.icon-footer{
    display:block;
    margin:auto;
    align-self: flex-start;
    padding: 0vh 2vw 0vh 4vw;    
}

.icon-social{
    width: 20px;
    margin: 1vh 1vw 1vh 1vw;
}

.center-item{
    display: flex;
    flex-direction: row;   
    padding: 1vh 1vw 1vh 1vw;
}

.center-itemB{
    text-align: right;
    padding: 1vh 1vw 3vh 1vw;
}


@media screen and (max-width: 500px){
    .sectionTop{
        flex-direction: column;
        
    }
    .sectionBottom{
        flex-direction: column;
    }
    .itemTopB{
        flex-direction: column;
    }

    .cardBottom{
        margin: 4vw 3vh 3vw 3vh;
        flex-direction: column;
    }

    .itemCard{
        margin: 0;
    }

    .cardBottomD{
        margin: 4vw 3vh 3vw 3vh;
        flex-direction: column;
    }

    .itemCardD{
        margin: 0;
    }

    .image {    
        width: 50%;
        display: block;
        margin:auto;
    }  
    h1{
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 24px;
    }
    .titleTop{
        font-size: 34px;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 16px;
    } 
    .pinkButton{
        justify-content: center;
        margin: 0vw 10vh 3vw 10vh;
    }
    .main-footer{
        flex-direction: column;
        padding: 2vh 2vw 2vh 2vw;
    }
    .row-footerT{
        flex-direction: column;
    }
    
    .row-footerB{
        flex-direction: column;
        margin: 4vw 3vh 3vw 5vh;
    }
    .row-footerTJ{
        flex-direction: row;
        justify-items: right;
        align-items: baseline;
    }
    .icon-footer{
        margin:auto;
        align-self: flex-start;
        margin: 3vw 3vh 0vw 3vh;    
    }
    .text-footer{
        text-align: left;
        margin: 4vw 3vh 3vw 3vh;

    }
    .text-footerT{
        text-align: left;
        margin: 0vw 3vh 1vw 1vh;
    }
    .smallBottom{
        margin: 4vw 3vh 3vw 3vh;    
        padding: 0vh 4vw 0vh 4vw;
    }
    .center-item{
        text-align: center;
        justify-content: center;
        padding: 1vh 1vw 2vh 1vw;
    }
    .center-itemB{
        text-align: center;
    }
}